777;
}

aside{
    padding: 30px;
    border-left: 2px solid #ddd;
}

footer{
    grid-column: span 3;
    text-align: center;
    /* background-color: #777; */
    border-top: 2px solid #ddd;
    padding: 30px;
}